# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --- Virtual env ---
.venv/
venv/

# --- PyInstaller ---
build/
dist/
*.spec

# --- User data (runtime) ---
WWMRU/
config.json

# --- OS / IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Logs ---
*.log
